/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.recept-nazev {
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.recept-kategorie,
.recept-komentare {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    color: white;
    filter: none;
}

.recept-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recept-kategorie {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.recept-komentare {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.hlavni-recept h2 {
    font-size: 1.75rem;
    color:  white;
    filter: none;
}

.recept h2 {
    font-size: 1.2rem;
    color: white;
}

.recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doporucujeme {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.hlavni-recept {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.hlavni-recept {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(images/burger.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.recept2 { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/sushi.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
}

.recept3 { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/rajcata.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
}

.recept4 { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url(../images/kure.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
}

.recept5 { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/grilovani.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
}



/*
.paticka {
    max-width: 350px;
}
*/


@media screen and (min-width:480px) and (max-width:859px) {
    .recept-nazev {
        font-family: 'Raleway', sans-serif;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    
    .recept-kategorie,
    .recept-komentare {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.8rem;
        color: white;
        filter: none;
    }
    
    .recept-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .recept-kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    
    .recept-komentare {
        padding-right: 1.25rem;
        padding-top: 1.25rem;
    }
    
    .hlavni-recept h2 {
        font-size: 2rem;
        color:  white;
        filter: none;
    }
    
    .recept h2 {
        font-size: 1.5rem;
        color: white;
    }
    
    .recept {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .doporucujeme {
        display: flex;
        flex-direction: column;
        max-width: 860px;
    }
    
    .hlavni-recept {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .hlavni-recept {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(images/burger.jpg);
        background-size: cover;
        background-position: center;
        min-height: 250px;
    }
    
    .recept2 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/sushi.jpg);
        min-height: 150px;
        background-size: cover;
        background-position: center;
    }
    
    .recept3 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/rajcata.jpg);
        min-height: 150px;
        background-size: cover;
        background-position: center;
    }
    
    .recept4 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url(../images/kure.jpg);
        min-height: 150px;
        background-size: cover;
        background-position: center;
    }
    
    .recept5 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/grilovani.jpg);
        min-height: 150px;
        background-size: cover;
        background-position: center;
    }
    
}

/*
.paticka {
    max-width: 859px;
}
*/


@media screen and (min-width: 860px) 
{
    .recept-nazev {
        font-family: 'Raleway', sans-serif;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    
    .recept-kategorie,
    .recept-komentare {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.8rem;
        color: white;
        filter: none;
    }
    
    .recept-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .recept-kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    
    .recept-komentare {
        padding-right: 1.25rem;
        padding-top: 1.25rem;
    }
    
    .hlavni-recept h2 {
        font-size: 3rem;
        color:  white;
        filter: none;
    }
    
    .recept h2 {
        font-size: 1.75rem;
        color: white;
    }
    
    .recept {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .doporucujeme {
        display: flex;
        flex-direction: column;
        max-width: auto;
    }
    
    .hlavni-recept {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .hlavni-recept {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(images/burger.jpg);
        background-size: cover;
        background-position: center;
        min-height: 400px;
    }
    
    .recept2 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/sushi.jpg);
        min-height: 200px;
        background-size: cover;
        background-position: center;
    }
    
    .recept3 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/rajcata.jpg);
        min-height: 200px;
        background-size: cover;
        background-position: center;
    }
    
    .recept4 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url(../images/kure.jpg);
        min-height: 200px;
        background-size: cover;
        background-position: center;
    }
    
    .recept5 { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/grilovani.jpg);
        min-height: 200px;
        background-size: cover;
        background-position: center;
    }
    
}

/*
.paticka {
    max-width: 350px;
}
*/