/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.recept-nazev {
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.recept-kategorie,
.recept-komentare {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    color: white;
    filter: none;
}

.recept-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recept-kategorie {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.recept-komentare {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.hlavni-recept h2 {
    font-size: 1.75rem;
    color:  white;
    filter: none;
}

.recept h2 {
    font-size: 1.2rem;
    color: white;
}

.recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doporucujeme {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.hlavni-recept {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.hlavni-recept {
    background: linear-gradient(transparent, rgb(116, 88, 74)), url(/images/burger.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.recept2 { 
    background-image: url(../images/sushi.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
}

.recept3 { 
    background-image: url(../images/rajcata.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
}

.recept4 { 
    background-image: url(../images/kure.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
}

.recept5 { 
    background-image: url(../images/grilovani.jpg);
    min-height: 90px;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
}